:root{
    --darkest-purple: #1B1030;
    --content-color: #D5DAEF;
    --highlight: #FE018A;
}

footer{
    /* position: absolute; */
    width: 100%;
    padding: 40px 20px 10px;
    background-color: var(--darkest-purple);
    font-family: 'Lora', serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: var(--content-color);
    /* margin-top: auto ; */
}

footer div{
    width: 40%;
}
footer div:nth-child(3){
    width: 314px;
}

footer h2{
    color: var(--highlight);
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 98.5%;
    letter-spacing: 0.05em;
    padding-bottom: 30px;
}

footer p{
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 110%;    
    letter-spacing: -0.02em;
    font-feature-settings: 'cpsp' on;
    padding-bottom: 30px;
}


footer a, footer li{
    font-size: 1rem;
    line-height: 127.2%;
    color: #D5DAEF;
}

footer p.highlighted{
    color: var(--highlight);
    text-align: right;
}

footer ul{
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    justify-content: space-between;
}

footer li{
    display: block;
    padding: 10px;
}

footer li img{
    height: 30px;
}


footer a {
    text-decoration: none;
}

#social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer form{
    font-family: 'Lora', serif;
    width: 320px;
    display: flex;
    flex-flow: row wrap;
}

footer input {
    margin-bottom: 10px;
    background: #6e45b4;
    opacity: 0.4;
    text-align: center;
    width: 100%;
    border-radius: 10px;
}

footer input[type="text"], footer input[type="email"]{
    display: block;
    height: 40px;
    font-size: 1.3rem;
    color:white;
    padding: 0 10px;
}

footer input[type="text"]:hover, footer input[type="email"]:hover, input[type="submit"]:hover{
    
    border: 1px solid var(--content-color);
    
}



footer input::placeholder{
    color: black;
    opacity: 1;
    font-size: 1.3rem;
}

footer input:focus
{
    opacity: 1;
}

footer input[type="checkbox"]{
    height: 25px;
    width: 25px;
    margin-top: 15px;

}

footer label[for="tester"], label[for="policy"]{
  display: block;
  width: 92%;
  padding-left: 20px;
  margin-top: 5px;
}

input[type="submit"]{
    margin-top: 20px;
    font-family: 'Rubik', sans-serif;
    background-color: var(--highlight);
    font-size: 1.3rem;
    border: 2px solid var(--highlight);
    border-radius: 10px;
    padding: 5px 10px;
    letter-spacing: 1px;
    font-weight: 100;
    -webkit-text-fill-color: var(--highlight);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    background-color: var(--highlight);
    opacity: 1;
}


.pointer{
    position: absolute;
    animation: subsc-pointer 1.5s infinite;
} 

.pointing-arrow{
    margin-top: -100px;
    margin-left: -180px;
    height: 150px;
    transform: scaleX(-0.7) rotate(-20deg);
    filter: invert(100%);
    z-index: 1;
}

h2.pointer{
    margin-left: -150px;
    margin-top: -100px;
    z-index: 10;
    transform: scaleX(1.3) rotate(-30deg);
}

@keyframes subsc-pointer {
    from {opacity: 0;}
    to {opacity: 1;}
}



@media screen and (max-width: 1035px){
  
    footer div:first-child{
        width: 25%;
    }
}

@media screen and (max-width: 912px){
    footer{
        padding: 40px 30px 30px;
        display: flex;
        flex-flow: row wrap-reverse;
        justify-content: space-between;
    }

    footer div:nth-child(3){
        width: 100%;
        margin: 0 20px 80px 20px;
        padding-right: 20px;
    }

    footer p{
        padding-bottom: 0;
    }

    footer div:nth-child(2){
        width: 50%;
    }

    footer div:first-child{
        margin-top: 25px;
        justify-self: flex-start;
        width: 50%;
    }
    
    .pointing-arrow{
        margin-top: -55px;
        margin-left: -120px;
        height: 100px;
    }

    h2.pointer{
        margin-left: -110px;
        margin-top: -60px;
    }
}

@media screen and (max-width: 639px){
    footer{
        padding: 40px 30px 30px;
        display: flex;
        flex-flow: row wrap-reverse;
        justify-content: center;
    }

    footer div:nth-child(2){
        width: 70%;
    }

    .pointing-arrow{
        margin-top: -30px;
        margin-left: -95px;
        height: 80px;
    }

    h2.pointer{
        margin-left: -40px;
        margin-top: -50px;
        font-size: 1.4rem;
    }

    footer div:first-child{
        width: 100%;
    }
       
    footer ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 10px;
        text-align: center;
    }

    footer li:first-child{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    
    footer li:last-child{
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 450px){
    footer{
        padding: 40px 5px 30px;
    }

    footer div:nth-child(3){
        margin: 0 0 80px 20px;
        padding-right: 20px;
    }

    footer div:nth-child(2){
        width: 80%;
    }

    footer form{
        margin-top: 10px;
        width: 290px;
    }

    .pointing-arrow{
        margin-top: -40px;
        margin-left: -70px;
        height: 80px;
        transform: rotate(60deg) scaleX(-1);
    }

    h2.pointer{
        margin-left: -15px;
        margin-top: -35px;
        transform: rotate(-15deg);
    }

    footer input[type="checkbox"]{
        height: 25px;
        width: 25px;
        margin-top: 25px;
    
    }
    
    footer label[for="tester"], label[for="policy"]{
      display: block;
      width: 91%;
      padding-left: 5px;
      margin-top: 10px;
    }

    footer ul{
        justify-content: space-between;
        padding-right: 10px;
    }

    footer li{
        width: 50%;
        text-align: center;
    }
    
    footer li:last-child{
        width: 100%;
        text-align: center;
    }

}
