/* organised code according the dekstop, 
then mobile, then wide screens, flow: parent to child */
:root{
    --text-color: #000;
    --highlight: #FE018A;
    --link-padding: 15px;
    --partner-color: #0B654B;
}

header {
    position: fixed;
    height: 80px;
    /* padding-bottom: 20px; */
    font-size:18px;
    align-items: center;
    display:flex;
    justify-content: space-between;
    /* position:absolute;  */
    top:0;
    width: 100vw;
    background-color: white;
    padding: 0 20px 0 20px;
    /* width: calc(100vw - 30px); */
    /* margin: 0 0px 0 30px; */
   
}

nav .navbar {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

nav .navbar a {
    display: block;
    /* padding: 0.5rem 1rem; */
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    padding: 5px 20px;
}

nav a:hover, nav a:focus {
    color: var(--highlight);
    text-decoration: underline;
    font-weight: 600;
  }

li:first-child, li:nth-child(3){
    border-right: #000 1px solid;
    padding-right: var(--link-padding);
}

li:nth-child(2), li:nth-child(4){
    padding-left: var(--link-padding);
}

li:first-child, li:nth-child(4){
    font-weight: 600;
}

.nav-icon {
    display: none;
}
  

@media screen and (max-width: 1024px) {

    header {
        position: fixed;
        /* grid-column: 1/span 4; */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* margin: 0 20px; */
    }

    #logo-icon{
      grid-column: 1/ 2;
      justify-self: start;
      
    }

    .nav-icon{
        display: block;
        grid-column: 4/span 1;
        justify-self: end;
        padding: 15px 0;
        z-index: 10;
        padding-right: 20px;
    }

    nav .navbar a {
        display: block;
        /* padding: 0.5rem 1rem; */
        color: var(--text-color);
        text-decoration: none;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
        padding: 5px 5px;
    }

    #menu-list {display: none;}

    .fa-bars {
        color: black;
        text-decoration: none;
        padding: 10px;
        border: 1px rgb(163, 163, 163) solid; 
    }

    .open .fa-bars{
        background-color: red;
    }

    nav.responsive #menu-list {
        position: absolute;
        display: block;
        width: 100vw;
        text-align: right;
        top: 0;
        right: 0;
        height: 100vh;
        padding:80px 40px; 
        z-index: 2;
        background: radial-gradient(100% 100% at 0% 0%, rgba(207, 182, 243, 0.4) 0%, rgba(132, 1, 255, 0) 100%);
        backdrop-filter: blur(5px);
    }

    /* #menu-list li{ */
        /* padding: 5px 0; */
        /* padding-bottom: 5px; */
        
    /* } */

    li:first-child, li:nth-child(3){
        border-right: none;
        padding-right: 0;
    }

}


@media (min-width: 1750px) {
    header {
      padding-left: 5%;
      padding-right: 5%; 
      
    }
  }


