:root{
    --text-color: #000;
    --highlight: #FE018A;
    --link-padding: 15px;
    --partner-color: #0B654B;
}

header {
    height: 80px;
    font-size:18px;
    align-items: center;
    display:flex;
    justify-content: space-between;
}

nav .navbar {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

nav .navbar a {
    display: block;
    padding: 0.5rem 1rem;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    padding: 5px 20px;
}

nav a:hover, nav a:focus {
    color: var(--highlight);
    text-decoration: underline;
    font-weight: 600;
  }

li:first-child, li:nth-child(3){
    border-right: #000 1px solid;
    padding-right: var(--link-padding);
}

li:nth-child(2), li:nth-child(4){
    padding-left: var(--link-padding);
}

li:first-child, li:nth-child(4){
    font-weight: 600;
}

.nav-icon {
    display: none;
}
  
  @media screen and (max-width: 1024px) {

    header {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 10px 20px;
    }

    #logo-icon{
      grid-column: 1/ span 1;
      justify-self: start;
    }

    .nav-icon{
        display:block;
        grid-column: 4/span 1;
        justify-self: end;
        padding: 15px;
        z-index: 1;
    }

    #menu-list {display: none;}

    .fa-bars {
        color: black;
        text-decoration: none;
        padding: 15px;
        border: 1px black solid;
    } 

    .open .fa-bars{
        background-color: red;
    }

    nav.responsive #menu-list {
        position: absolute;
        display: block;
        width: 100%;
        text-align: right;
        top: 0;
        right: 0;
        height: 100%;
        padding:80px 20px; 
        background-color: grey;
        z-index: 0;
    }

    #menu-list li{
        padding: 10px 0;
    }

    li:first-child, li:nth-child(3){
        border-right: none;
        padding-right: 0;
    }

}



