:root {
    --gutter-x: 20px;
    --header-color: purple;
    --content-fonts: 'Lora', serif;
    --header-fonts: 'Bebas Neue', cursive; /*36px 2.25 rem h1 2.9rem */
    --dark: #503088;
    --primary: #FE018A;
  }

  /* hr{
      border-bottom: 10px black solid;
  } */

  .btn-standard {
    border: 1px var(--primary) solid;
    border-radius: 5px;
    padding: 5px;
}

  .arrows {
    width: 30px;
    height: 72px;
    position: absolute;
    /* left: 50%; */
    /* margin-left: -30px; */
    left: 40px;
    bottom: 5px;
}

.arrows path {
    stroke: var(--dark);
    fill: transparent;
    stroke-width: 1px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
}

@media screen and (max-width: 1024px) {
    .arrows {
        width: 30px;
        height: 42px;
        position: absolute;
        left: 50%;
        margin-left: 0;
        bottom: 10px;
    }

    .arrows path {
            stroke: var(--dark);
            fill: transparent;
            stroke-width: 1px;  
            animation: arrow 2s infinite;
            -webkit-animation: arrow 2s infinite; 
        }
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
animation-delay:-1s;
-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
animation-delay:-0.5s;
-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
animation-delay:0s;
-webkit-animation-delay:0s; /* Safari 和 Chrome */
}



.left{
    width: 50%; 
    float:left;
}

.right{
    background-color: #F8EEF1;
    width:50%;
    float:right;
}

