:root {
    --gutter-x: 20px;
    --header-color: purple;
    --content-fonts: 'Lora', serif;
    --header-fonts: 'Bebas Neue', cursive; /*36px 2.25 rem h1 2.9rem */
    --dark: #503088;
    --primary: #FE018A;
    --secondary-background: #F8EEF1;
  }

.arrows {
    width: 30px;
    height: 72px;
    position: absolute;
    left: 40px;
    bottom: 5px;
}

.arrows path {
    stroke: var(--dark);
    fill: transparent;
    stroke-width: 1px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
}

@media screen and (max-width: 1024px) {
    .arrows {
        width: 30px;
        height: 42px;
        position: absolute;
        left: 50%;
        margin-left: 0;
        bottom: 10px;
    }

    .arrows path {
            stroke: var(--dark);
            fill: transparent;
            stroke-width: 1px;  
            animation: arrow 2s infinite;
            -webkit-animation: arrow 2s infinite; 
        }
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
animation-delay:-1s;
-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
animation-delay:-0.5s;
-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
animation-delay:0s;
-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.intro-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: calc(100vh - 80px);
}


.intro-container > section{
    grid-column: 6;
}

#slogans{
    grid-column: 1 / 7;
    grid-row: 2 / 4;
    justify-self: center;
}

.intro-container button{
    grid-row: 6;
    align-self: flex-start;
}
.intro-container .btn-user-l {
    grid-column: 3 / span 2;
}
.intro-container .btn-secondary{
    grid-column: 3 / 6;
    align-self: center;
    justify-self: flex-end;
}

.intro-img{
    margin: 40px 0;
    grid-column: 8 / 12;
    grid-row: 1 / 6;  
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_Xosby9PG9uyDQ_CuAT5bzlfs2lRB3objpg&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.intro-container .btn-partner{
    grid-column: 9 / 11
}

.intro-backdrop{
    grid-column: 7 / 13;
    grid-row: 1 / 7;
    background-color: var(--secondary-background); 
}