@import url(./style.css);

main {
    margin-top: 80px;
}

.arrows {
    width: 40px;
    height: 72px;
    position: absolute;
    right: 60px;
    bottom: 20px;
}

.arrows path {
    stroke: var(--lightest-pink);
    fill: transparent;
    stroke-width: 3px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
    0% {opacity:0}
    40% {opacity:0} /*change back to 1 */
    80% {opacity:1}/*change back to 0*/
    100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
    0% {opacity:0}
    40% {opacity:0}
    80% {opacity:1}
    100% {opacity:0}
}

.arrows path.a1 {
animation-delay:-1.5s;
-webkit-animation-delay:-1.5s; /* Safari 和 Chrome */
}

.arrows path.a2 {
animation-delay:-1s;
-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
animation-delay:-0.5s;
-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a4 { 
    animation-delay:0s;
    -webkit-animation-delay:0s; 
}

@media screen and (max-width: 900px) {
    .arrows {
        
        position: absolute;
        left: 50%;
        margin-left: 0;
        bottom: 15px;
    }

    .arrows path {
            stroke: var(--dark);
            fill: transparent;
            animation: arrow 2s infinite;
            -webkit-animation: arrow 2s infinite; 
    }
}


.intro-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: calc(100vh - 80px);
    background: linear-gradient(180deg, var(--lightest-purple) 0%, var(--darkest-purple) 100%);
}

.intro-container #slogans{ 
    font-size: 96px;
    grid-column: 2 / span 9;
    grid-row: 2 / span 3;
}
.intro-container #slogans h2{ 
    font-size: 2.6rem;
    margin-bottom: 50px;
    color: var(--lightest-pink);
    font-family: 'Roboto', sans-serif;
    text-transform:uppercase;
    letter-spacing: -1px;
    max-width: 931.5px;
}

.intro-container #slogans h3{ 
    font-size: 1.3rem;
    text-align: right;
    color: var(--lightest-pink);
    font-family: 'Roboto', sans-serif;
    /* text-transform:uppercase; */
    max-width: 931.5px;
}


.intro-container > section{
    grid-column: 6;
}


.intro-container button{
    grid-row: 5 / 6;
    align-self: center;
    justify-self:stretch;
}

.intro-container .btn-user-l {
    /* grid-column: 2 / span 4; */
    grid-column: 5 /span 4;
}
.intro-container .btn-secondary{
    /* grid-column: 3 / 6 */
    grid-column: 6 /span 4;
    grid-row: 6 / span 1; 
    align-self: flex-start;
    justify-self: flex-end;
}

.intro-img{
    margin: 40px 0;
    grid-column: 8 / 12;
    grid-row: 1 / 6;  
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.intro-container .btn-partner{
    grid-column: 8 / span 4;
}

.intro-backdrop{
    grid-column: 7 / 13;
    grid-row: 1 / 7;
    /* background-color: var(--secondary-background);  */
    
}


@media screen and (max-width: 1345px){
    .intro-container .btn-partner{
        grid-column: 8 / 12;
    }
}

@media screen and (max-width: 1082px){
    .intro-container .btn-user-l{
        grid-column: 2 / span 4;
    }
    .intro-container .btn-secondary{
        grid-column: 3 / span 4;
        margin-right: 5%;
    }
}

@media screen and (max-width: 638px){
    .intro-container button{
        grid-row: 5;
    }

    .intro-container .btn-user-l{
        grid-column: 2 / span 4;
        justify-self: stretch;
        align-self: center;
    }
    .intro-container .btn-secondary{
        grid-column: 2 / span 6;
        margin-right: 5%;
        margin-top: 25%;
        align-self: center;
    }

    .intro-container .btn-partner{
        grid-column: 8 / 1span 4;
        grid-row: 5;
        justify-self: stretch;
        align-self: center;
        font-size: 1.17rem;
        padding: 7px 0;
        
    }
    
}

@media screen and (max-width: 540px){
    .intro-container{
        height: calc(100vh - 80px);
    }
    
    #slogans{
        grid-column: 2 / 11;
        grid-row: 1 / 4;
        justify-self: center;
        align-self: center;
        z-index: 10;
    }
    
    .intro-container button.btn-user-l{
        grid-column: 2 / 12;
        grid-row: 4 / 5;
        align-self: flex-start;
        justify-self: stretch;
        align-self: flex-end;
    }
    
    .intro-container .btn-secondary{
        grid-column: 4 / 12;
        grid-row: 5 / 6;
        align-self: flex-start;
        justify-self: flex-end;
    }
    
    .intro-img{
        /* margin: 40px 0; */
    }
       
    
    .intro-container .btn-partner{
        grid-column: 2 / 12;
        grid-row: 5 / 6;
        justify-self: stretch;
        align-self: center;
    }
    
    .intro-backdrop{
        background-color: inherit;
    }
}
    

.problem-container{
    display: flex;
    flex-flow: no-wrap;
    background-color: var(--dark);
    column-gap: 4%;
    justify-content: center;
    background-color: var(--darkest-purple);
    padding: 100px 0; 
}

.card{
   width: 21%;
   align-items: baseline;
   text-align: center;
}

.card img {
 margin-bottom: 10px;
}

.card h2{
    color: var(--highlight);
    margin-bottom: 60px;
}
.card h3{
    color: white;
    line-height: 98.5%;
}



.mission-container img{
    height: 91px;
    width:91px;
    margin-top: -45.5px;
    color: var(--primary);
}

.container-pt1{
    padding: 170px 0 210px 0;
    text-align: center;
    background-color: var(--secondary-background);
}

.centered-wrapper{
    margin: 0 auto;
    display: flex;
    flex-flow: nowrap column;
    width:40%;
}

.container-pt1 img{
    height: 190px;
    width: auto;
    z-index: 0;
}


.mission-container h2{
   z-index: 1;
   margin-top: -150px;
}

.mission-pt2{
    display:flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
}

.mission-pt2 h3{
    color: var(--header-color);
    margin-bottom: 20px;
}
.mission-pt2 p{
    text-align: center;
    margin-bottom: 20px;
}

.empower-container .container-pt1{
    padding: 210px 0 170px 0;
    background-color: var(--lightest-pink);
}

.voices{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex: 2 0 21%;
    margin: 0 5% 160px;
} 

/* .voices h3{
    display: block;
    width: 100%;
    text-align: center;
} */


.voices .container {
    position: relative;
    /* width: 100%; */
    padding: 0;
    margin: 0; 
    /* height: 250px; */
    /* width: 250px; */
    flex: 1 0 33%;
  }
  
  .voices .voices-img {
    display: block;
    width: 100%;
    height: auto;
    
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--darkest-purple);
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: var(--lightest-pink);
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-10%, -50%);
    text-align: center;
  }


@media (min-width: 1750px) {
    .xxl-cont {
      padding-left: 5%;
      padding-right: 5%; 
    }
}

@media screen and (max-width: 912px){
    .problem-container{
        flex-flow: wrap;
    }
    .card{
        width: 35%;
        align-items: baseline;
        text-align: center;
    }

    .card:first-child, .card:nth-child(2){
        padding-bottom: 100px;
     }
     .card h2{
        margin-bottom: 40px;
    }

    .container-pt1{
        padding: 150px 0 180px 0;
    }
    .centered-wrapper{
        margin: 0 auto;
        display: flex;
        flex-flow: nowrap column;
        width:50%;
    }

    .container-pt1 img{
        height: 200px;
        width: auto;
    }

    .empower-container .container-pt1{
        padding: 120px 0 170px 0;
    }

    .voices{
        margin: 0;
    }

    .voices .container {
        flex: 1 0 49%;
      }

      .text {
        font-size: 18px;
      }
}

/* @media screen and (max-width: 540px){
    .centered-wrapper{
        margin: 0 auto;
        display: flex;
        flex-flow: nowrap column;
        width: 85%;
    }

    .card{
        width: 45%;
    }
} */

@media screen and (max-width: 540px){
    .centered-wrapper{
        width: 90%;
    }

    .empower-container .container-pt1{
        padding: 120px 0 150px 0;
    }
    
    .mission-pt2 .card{
        width: 90%;
    }

    .mission-pt2 .card:nth-child(4){
        padding-top: 100px;;
    }

    .voices .container {
        flex: 1 0 90%;
      }
}

