@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:wght@400;500;600;700&display=swap');
@import url('./header.css');

:root {
    --gutter-x: 20px;
    --header-color: purple;
    --content-fonts: 'Lora', serif;
    --header-fonts: 'Bebas Neue', cursive; /*36px 2.25 rem h1 2.9rem */
    --dark: #503088;
    --primary: #FE018A;
  }

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body {
  margin: 80px 0;
  font-family: var(--content-fonts);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main {
  margin-top: 80px;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}
/* Content  */

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: var(--header-fonts);
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}


/* Links */
a {
  color: var(--dark);
  text-decoration: underline;
}
a:hover {
  color: var(--primary);
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}


.container,
.container-fluid {
  width: 100%;
  padding-right: var(--gutter-x, 0.75rem);
  padding-left: var(--gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.full-height{
  height: 100vh;
  /* width: 100vw; */
}


/* @media (min-width: 576px) {
  .container {
    max-width: 550px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1380px;
  }
} */

/* divides to 145 of 12 columns */
@media (min-width: 1740px) {
  .container {
    max-width: 1740px;
  }
}



label[for="email"]{
    display:none;
}