@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:wght@400;500;600;700&family=Rubik:wght@500&display=swap');
@import url('./header.css');
@import url('./footer.css');

:root {
    --gutter-x: 20px;
    --header-color: #BA5277;
    --content-fonts: 'Lora', serif;
    --header-fonts: 'Bebas Neue', cursive; /*36px 2.25 rem h1 2.9rem */
    --dark: #503088;
    --highlight: #FE018A;
    --partner-color: #0B654B;
    --darkest-purple: #321F52;
    --lightest-pink: #FFFBFC;
  }

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}
html{
  margin: 0; 
  padding: 0;
}


body {
  margin: 80px 0;
  font-family: var(--content-fonts);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: var(--lightest-pink);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main {
  margin-top: 80px;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-family: var(--header-fonts);
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.1; 
  letter-spacing: 0.05rem;
  color: var(--header-color);
}

h2 {
  font-size: calc(1.6rem + 0.3vw);
}

h3{
  font-size: calc(1.2rem + 0.3vw);
}

@media (min-width: 1200px) {
  h2 {
    /* 32px  */
    font-size: 2rem; 
  }
  /* 24px  */
  h3{
    font-size: 1.5rem;
  }
}


p {
  margin-top: 0;
  font-size: 1.1rem;
  letter-spacing: -0.045em;
  line-height: 25px;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer;
}

/* Links */
a {
  color: var(--darkest-purple);
  text-decoration: underline;
  font-family: var(--content-fonts);
}

a:hover {
  color: var(--highlight);
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

section a{
  color: var(--header-color);
  display: inline-block;
  text-align: end;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Rubik';
  z-index: 1;
}

section a:hover{
  padding-right: 10px;
  padding-left:8px;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: underline;
}

section a:hover::after{
   content: ' »';
}

button{
  font-family: 'Rubik', sans-serif;
  background-color: inherit;
  text-align: center;
  border: none;
  cursor: auto;
  
}

.btn-standard {
  font-size: 20px;
  border: 2px solid var(--highlight);
  border-radius: 10px;
  padding: 5px 10px;
  letter-spacing: 1px;
  font-weight: 100;
}

.btn-partner{
  /* -webkit-text-stroke-color: var(--partner-color);
  -webkit-text-fill-color: white; */
  border: 2px solid var(--partner-color);
  color: var(--partner-color);
  letter-spacing: 0px;
  filter: drop-shadow(0px 9px 4px rgba(11, 101, 75, 0.3));
}

.btn-user-l{
  -webkit-text-fill-color: var(--highlight);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  background-color: var(--highlight);
  filter: drop-shadow(0px 9px 4px rgba(254, 1, 138, 0.25));
}


.btn-secondary{
  filter: drop-shadow(0px 6px 2px rgba(97, 2, 54, 0.25));
  color: var(--highlight);
  font-size: 15px;
  padding:5px;
}

button:after{
  content: ' »';
  /* content: "\f178"; */
  position: absolute;
  opacity: 0;  
  top: 5px;
  right: -20px;
}

button:hover{
  padding-right: 24px;
  padding-left:8px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}


.btn-secondary:hover{
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
}

.container,
.container-fluid {
  width: 100%;
  padding-right: var(--gutter-x, 0.75rem);
  padding-left: var(--gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}




/* @media (min-width: 576px) {
  .container {
    max-width: 550px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1380px;
  }
} */

/* divides to 145 of 12 columns */
@media (min-width: 1740px) {
  .container {
    max-width: 1740px;
  }
}

label{
  display:none;
}

@media screen and (max-width: 912px){

    
}
