@import url(./style.css);

footer{
    width: 100%;
    background-color: var(--highlight);
    padding: 10px 0 0 0;
    
}

footer ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
}

footer li:last-child{
    width: 100%;
    text-align: center;
}


footer a, footer li{
    font-size: 1rem;
    line-height: 127.2%;
    color: black;
    padding-bottom: 10px;
}

footer a {
    text-decoration: none;
}

#social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

