form{
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-flow: row wrap;
}

form label {
  display: none;
}


.form-control {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #80644E;
  font-family: var(--content-fonts);
}


input {
  background: var(--form-control);
  width: 100%;
  border-radius: 5px;
  border: solid;
  font-family: Neon;
} 

input[name~=name], input[type="email"] {
  display: block;
  height: 32px;
  min-height: 32px;
  font-size: 1.6rem;
  /* color:white; */
  padding: 0 10px;
}

input[name~=name]:hover, input[type="email"]:hover, input[type="checkbox"]:hover {
  border: 2px solid var(--highlight);
}

input::placeholder{
  color: #31271e;
  opacity: 1;
}

input:focus, input[name~=name]:not(:placeholder-shown),input[type="email"]:not(:placeholder-shown){
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #80644E;
  color: white;
}


input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #80644E;
  margin: 0;
  font: inherit;
  width: 20px;
  height: 20px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  border-radius: 0.2rem;
  
}

input[type="checkbox"]::before {
  content: "";
  width: 24px;
  height: 24px;
  clip-path: polygon(10% 35%, 0 50%, 55% 100%, 95% 12%, 85% 0%, 40% 59%);
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em white;

}

input[type="checkbox"]:checked::before {
  transform: scale(1);
  z-index: 10;
}

label[for="tester"], label[for="policy"]{
  display: flex;
  align-items: center;
  /* justify-content: stretch; */
  width: 100%;
  margin-top: 5px;
  /* padding: 5px; */
}

label span{
  padding-left: 10px;
}

input[type="submit"] {
  background-color: inherit;
  margin: 20px auto;
  /* color: var(--text-color); */
  /* font-size: 1.3rem; */
  /* text-transform: uppercase; */
  /* padding: 25px 15px; */
  letter-spacing: 2px;
  /* font-size: 2rem; */
  /* -webkit-text-fill-color: var(--text-color); */
  /* -webkit-text-stroke-width: 1px; */
  /* -webkit-text-stroke-color: white; */
} 

input[type="submit"]:hover, input[type="submit"]:active {
  padding: 25px 15px;
  height: 77px;
}
