/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:wght@400;500;600;700&family=Rubik:wght@500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap'); */
/* @import url('./header.css'); */
/* @import url('./footer.css'); */

/* body{
  
  margin: 0;  
 padding: 0;
  
}  */
* {
  box-sizing: border-box;
}
html {
  font-size: 8px;
} 

body {margin: 0;}
header, main {
  display: flex;
  flex-flow: column;
  /* margin: 0 15px;  */

}

body, h1 {
  font-family: Neon;
  background-color: var(--background-primary);
}

main {margin-top: var(--nav-height);}

h1, .h1 {
  font-family: Neon;
  font-style: normal;
  font-weight: normal;
  font-size: var(--text-size);
  letter-spacing: 0.05rem;
  padding-left: 15px;
  color: var(--text-color);
  align-self: left;
}
h2, .h2 {
  font-size: 2.5rem;
  font-family: var(--content-fonts);
  color: var(--text-color);
}

h3, .h3 {
  font-size: 1.8rem;
  font-family: var(--content-fonts);
  color: var(--text-color);
}

h4, .h4 {
  color: var(--text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 14px;
  letter-spacing: 1.17727px;
}

h5{
  color: var(--text-color);
  font-size: 1rem;
}

section > h3 {
  padding-bottom: 30px;
}


p, .p {
  font-size: var(--text-size);
  width: 100%;
  color: var(--text-color);
  font-size: 1.4rem;
}

/* p.intro {
  margin: 15px 10px; 
} */

.txt-highlight {
  color: var(--highlight);
}

#logo-icon {
  width: 120px;
  align-self: flex-end;
  margin-bottom: 20px;
}

/* .slogan {
  width: 90%;
  max-width: 570px;
  margin: var(--big-margin) 0 ;
} */

/* .intro {
  color: var(--text-color);
} */

button, .btn {
  border: 2px solid #FEFEFE;
  border-radius: 15px;
  width: 337px;
  padding: 15px 15px;
  /* align-self: center; */
}

button.intro {
  background-color: inherit;
  margin-top: var(--big-margin);
  
}

button:hover, button:active, .btn:active, .btn:hover {
  background-color: var(--highlight);
}

.circles {
  width: 35%; 
  position: absolute;
} 

.left-border {
  padding: 0 10px 0 10px;
  border-left: 2px solid var(--highlight);
}

.x-card p{
  padding: 0 0 30px 0;
  width: 327px;
  text-align: justify;
  letter-spacing: 0.7px;
 }


@media screen and (min-width: 500px){ 

  :root {
    --text-size: 2rem;
  }

  .slogan {
    width: 90%;
    max-width: 570px;
    margin: 15px 0;
  }

  

  button.intro {
    align-self: flex-start;
  }


}

@media screen and (min-width: 850px){ 
  .circles {
    width: 15%; 
  } 
}

/*
body {
  margin: 0;
  font-family: var(--content-fonts);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: var(--lightest-pink);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
  height: 100%;
  max-width: 100vw;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
} */

/* hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
} */

/* h6, h5, h4,  h3,  h2, h1{
  font-family: var(--header-fonts);
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.1; 
  letter-spacing: 0.05rem;
  color: var(--header-color);
} */

/* h2 {
  font-size: calc(1.6rem + 0.3vw);
}

h3{
  font-size: calc(1.2rem + 0.3vw);
} */
/* 
.txt-highlight{
  color: var(--highlight);
}
.flinta{
  text-decoration: underline;
}

.flinta:hover{
  background-color: var(--highlight);
  color: white;
} */
/* 
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem; 
  }

  h3{
    font-size: 1.5rem;
  }
}


p {
  margin-top: 0;
  font-size: 1.1rem;
  letter-spacing: -0.045em;
  line-height: 25px;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer;
}

a {
  color: var(--darkest-purple);
  text-decoration: underline;
  font-family: var(--content-fonts);
}

a:hover {
  color: var(--highlight);
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

section a{
  color: var(--header-color);
  display: inline-block;
  text-align: end;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Rubik';
  z-index: 1;
}

section a:hover{
  padding-right: 10px;
  padding-left:8px;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: underline;
}

section a:hover::after{
   content: ' »';
}

button{
  font-family: 'Rubik', sans-serif;
  background-color: inherit;
  text-align: center;
  border: none;
  cursor: auto;
  
}

.btn-standard {
  font-size: 20px;
  border: 2px solid var(--highlight);
  border-radius: 10px;
  padding: 5px 10px;
  letter-spacing: 1px;
  font-weight: 100;
}

.btn-partner{
  border: 2px solid var(--partner-color);
  color: var(--partner-color);
  letter-spacing: 0px;
  filter: drop-shadow(0px 9px 4px rgba(11, 101, 75, 0.3));
}

.btn-user-l{
  -webkit-text-fill-color: var(--highlight);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  background-color: var(--highlight);
  filter: drop-shadow(0px 9px 4px rgba(254, 1, 138, 0.25));
}


.btn-secondary{
  filter: drop-shadow(0px 6px 2px rgba(97, 2, 54, 0.25));
  color: var(--highlight);
  font-size: 15px;
  padding:5px;
}

button:after{
  content: ' »';
  position: absolute;
  opacity: 0;  
  top: 5px;
  right: -20px;
}

button:hover{
  padding-right: 24px;
  padding-left:8px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}


.btn-secondary:hover{
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
}

.container,
.container-fluid {
  width: 100%;
  padding-right: var(--gutter-x, 0.75rem);
  padding-left: var(--gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1740px) {
  .container {
    max-width: 1740px;
  }
}

label{
  display:none;
}

@media screen and (max-width: 912px){

    
} */
