:root {
  --content-fonts: 'Inter', sans-serif; /* 'Lora', serif; */
  --text-color: white;
  --text-size: 1.7rem;
  --header-color: #BA5277;
  --big-margin: 35px;
  --header-fonts: 'Bebas Neue', cursive; /*36px 2.25 rem h1 2.9rem*/
  --background-primary: #212121;
  --highlight: #F4A060;
  --partner-color: #0B654B;
  --darkest-purple: #1B1030;
  --lightest-purple: #9EA3F7;
  --lightest-pink: #FFFBFC;
  --secondary-background: #F8EEF1;  
  --purple-dark: #503088;
  --purple-m: rgb(110, 69, 180, 0.4);
  --nav-height: 80px;

}

